{% extends 'base.html' %}

{% block title %}Manager description{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">BookManager description</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Database</h2>
            <p class="mb-0">
                Utility supports custom database with BQ language to query books.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Work mode</h2>
            <p class="mb-0">Utility supports two work mode:</p>
            <p class="text-muted">- Manual mode</p>
            <p class="text-muted">- Auto mode</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Навыки</h2>
            <ul class="list-group">
                <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Python</li>
                <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Django</li>
                <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> HTML/CSS</li>
                <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> JavaScript</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}