{% extends 'base.html' %}

{% block title %}Manager description{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">BookManager description</h1>
    <p class="text-center text-muted mb-5">
        Non-useful app if you have cracked (with "Koreader") Kindle or other e-book and want to save your books.
    </p>

    <div class="row">

        <div class="col-md-6 mb-4">
            <h2>Kindle history</h2>
            <p>Module used for interaction with read file.</p>
            <p class="mb-1"><strong>Methods:</strong></p>
            <ul>
                <li>Convenient way to save books that you want</li>
                <li>Delete books that you want</li>
                <li>Write history about your already read books</li>
            </ul>
            <p class="mb-1"><strong>Modes:</strong></p>
            <ul>
                <li>Auto mode - automatically save books in file</li>
                <li>Manual mode - ask user about anything</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <h2>Transfer book</h2>
            <p>Module for transferring books from your local personal computer to e-book by Custom device interface.</p>
        </div>

        <div class="col-md-6 mb-4">
            <h2>Book analytic</h2>
            <p>Module for analytic.</p>
        </div>
    </div>
</div>
{% endblock %}